header {
  padding: 26px 0 26px 0;
  font-family: "poppins";
}
header .header__continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__continer ul {
  display: flex;
  gap: 42px;
  list-style-type: none;
  align-items: center;
  margin-left: 200px;
}

.yourlogo a {
  font-size: 31px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-family: "poppins";
}
.yourlogo a .logo {
  font-weight: 800;
}

.header__list a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "poppins";
  color: #000000;
}

.btn {
  color: white;
}

.hero {
  background: url("../images/Group 15 (3).jpg") no-repeat;
  font-family: "oswald";
}
.hero .hero__continer {
  padding: 201px 0 159px 0;
}
.hero .hero__continer h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 54px;
  color: #363739;
  width: 390px;
}
.hero .hero__continer h1 {
  font-size: 122px;
  font-weight: 700;
  color: #3EA83B;
  margin-top: -30px;
}
.hero .hero__continer p {
  font-size: 23px;
  font-weight: 400;
  line-height: 31px;
  color: #8C8C8C;
  width: 370px;
  margin-bottom: 24px;
}
.Greener {
  color: #3EA83B;
}

.about {
  padding: 135px 0 96px 0;
}
.about .about__continer {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.about__continer--video {
  position: relative;
  margin-bottom: 109px;
}
.about__continer--video .turtburchak {
  width: 354px;
  height: 436px;
  background-color: #2AE85F;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -10;
}
.about__continer--video .play {
  width: 139px;
  height: 139px;
  border-radius: 50%;
  padding: 12px;
  display: f;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.15);
  top: 150px;
  left: 200px;
}
.about__continer--video .play .play__2 {
  background-color: white;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__continer--video .multi {
  width: 121px;
  background-color: #3646D9;
  position: absolute;
  border-radius: 25px;
  top: 240px;
  left: 500px;
  padding: 19px 20px 13px 28px;
  color: white;
  font-family: "oswald";
  font-weight: 700;
  box-shadow: 0px 4px 31px rgba(54, 70, 217, 0.3882352941);
}
.about__continer--video .multi h2 {
  font-size: 34px;
}
.about__continer--video .multi p {
  font-size: 17px;
}

.about__ung {
  font-family: "poppins";
}
.about__ung h3 {
  font-size: 19px;
  font-weight: 700;
  color: #3EA83B;
}
.about__ung h1 {
  font-size: 46px;
  font-weight: 700;
  color: #363739;
  margin-bottom: 37px;
}
.about__ung P {
  font-size: 16px;
  font-weight: 400;
  color: #363739;
  margin-bottom: 20px;
}
.about__pas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__pas .aylana {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: #2AE85F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__pas .abaout__pas-1 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.about__pas .abaout__pas-1 h4 {
  font-size: 21px;
  font-weight: 700;
  color: #363739;
  width: 277px;
  margin-bottom: 17px;
  font-family: "poppins";
}
.about__pas .abaout__pas-1 p {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  font-family: "lato";
  width: 351px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.continer {
  max-width: 1142px;
  width: 100%;
  margin: 0 auto;
}

.btn, .hero .hero__continer button, .about__ung button {
  padding: 15px 35px;
  font-family: "poppins";
  font-weight: 700;
  background-color: #3EA83B;
  border-radius: 43px;
  cursor: pointer;
  color: white;
  border: none;
}
.btn:hover, .hero .hero__continer button:hover, .about__ung button:hover {
  background-color: #1a6d17;
}/*# sourceMappingURL=style.css.map */