@import "./header";
@import "./hero";
@import "./about";
@import "./features";
@import "./mission";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continer{
    max-width: 1142px;
    width: 100%;
    margin: 0 auto;
}

%button-primary{
    padding: 15px 35px;
    
    font-family: 'poppins';
    font-weight: 700;
    background-color: #3EA83B;
    border-radius: 43px;
    cursor: pointer;
    color: white;
    border: none;

    &:hover{
    background-color: #1a6d17;
   
    }
}
%multi{
     width: 121px;
     background-color: #3646D9;
     position: absolute;
     border-radius: 25px;
     padding: 20px 20px 20px 28px;
     color: white;
     font-family: "oswald";
     font-weight: 700;
     box-shadow: 0px 4px 31px #3646D963;

}
